<!doctype html>
<html>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href="main.css" rel="stylesheet" />
    <script src="../angular.min.js"></script>
  </head>
  <body ng-app="MoveLogApp">
    <div class="header">
      <div class="container">
        MOVE Log
      </div>
    </div>

    <div ng-controller="MainController" class="main">
      <div class="container">

         
        <div ng-repeat="exercise in exercises" class="row">
          <div class="exercise-icon col-xs-2"><img src="{{ exercise.icon }}" /> </div>
            
          <div class="col-xs-6">
            <p class="exercise-name">{{ exercise.name }} </p>
          </div>
          
          <div class="col-xs-4 counters">
            <span ng-click="decrease($index)"class="decrease">-</span><span class="count">{{ exercise.count }}  </span><span ng-click="increase($index)" class="increase">+</span>
          </div>
        </div>
      
        
      </div>
    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>
    
    <!-- Modules -->
    <script src="app.js"></script>

    <!-- Controllers -->
    <script src="MainController.js"></script>

  </body>
</html>
